.banner-products {
  width: 100%;
  
  height: 400px;

  margin-top: 20px;
  position: relative;

}

.banner-products img{
  opacity: 0;
  position: absolute;

  width: 100%;
  min-width: 1200px;
  height: 100%;

  object-fit: none;

  transition: opacity 2000ms;
}

.banner-products img.selected{
  opacity: 1;
}

.div-banner-products {
  height: 100%;
  width: 100%;

}